{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>
            About page
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea inventore perspiciatis totam repellendus nisi. Similique esse illo ipsum? Deserunt itaque rerum commodi neque nobis eligendi alias numquam, molestiae quos natus.</p>
    </div>
    <div class="col-4">

        <img src="assets/img/unnamed.jpg" width ="300"class="img-thumbnail">

    </div>
</div>
{{> footer}}